/* basics */

body {
    margin:40px auto;            /* Center it */
    background-color: #F3EFD6;
    color: #111;                
    font-size: 110%;             /* Smaller type works well for print, not the screen. */
    max-width:650px;             /* If your text hits the side of the browser, fuck off forever. You ever see a book like that? Yes? What a shitty book. */
    /* font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; */
    /* font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif; */
    /* font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif; */
    /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif; */
    /* font-family: Arial,Helvetica Neue,Helvetica,sans-serif; */
    font-family: 'Bookman Old Style', serif;
    padding:1em;
 
}

a {
   text-decoration: none;        /* No <strike>*/
} 
a {color: #999;} /* unvisited link */
a:link {color: #999; text-decoration: none; }  /* No <strike>*/
a:visited {color: #999;}   /* visited link */
a:hover   {color: #999;}         /* mouse over link */
a:active  {color: #999;}          /* selected link */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/* title */

#title a, #title a:visited, #title a:hover {color: #444}
#title-dim a, #title-dim a:visited, #title-dim a:hover {color: #999}

.title a, .title a:visited, .title a:hover {color: #444}


/* article */

article {
    margin-bottom: 4em; /* Margin for phone */
    
}

article p { /* paragraph */
    line-height: 1.5;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

article p a, article p a:visited { /* link inside posts */
    color: #999;
    text-decoration: none;
    /* letter-spacing: 0px;
    transition: letter-spacing 0.2s;
    transition-timing-function: ease-out; */
}
article p a:hover { 
    color: #999;
    text-decoration: none;
}

/* article p a:hover::after { 
    content: " ▪";
    font-size: 0.8em;
}

article p a::after { 
    content: " ▪";
    font-size: 0.8em;
} */



.audio, .audio a:visited {
    color:#999;
	position: relative;
    transition: color 1s;
    transition-timing-function: ease-out;
}

.audio:hover {
    color:#F3EFD6;
}


.audio::after {
	content: "♭";
	position: absolute;
	top: 80%;
	right: -7%;
	color: #999;
	font-size: 1.4em;
	line-height: 1em;
	text-align: center;
	text-indent: -2px;
	width: 10%;
	margin-top: -0.5em;
	display: inline-block;
}

/* .audio:hover::after {
    content: "♭";
    -webkit-transform: translateX(-4px);
    -moz-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    right: 50%;} */
       

/* footer */
footer {
	text-align: center;
}

/* other */
.likebg {color:#F3EFD6; font-size: small;} /* hidden text */

::before, ::after {
	box-sizing: border-box;
}

.form-control {
    color: #111;                
    font-size: 17.6px; 
	color: #999;
	background-color: #f3efd6;
	background-image: none;
	border: 0px solid #3d3d3d;
	border-radius: 0px;
    font-family: "Bookman Old Style", serif;
    padding:0;
}